<h1>Contacto</h1><br>


<div class="card">
  <h5 class="card-header">Datos Institucionales</h5>
  <div class="card-body">
    <p class="card-text">
		Datos institucionales:  Instituto Superior de Formación Docente y Técnica N° 210 (ISFDyT) <br><br>
		Horarios de atención (Sede La Plata):   8:00hs a.m a 22:00hs p.m <br><br>
		Dirección Sede La Plata:   47 nro 635 e/ 7 y 8 <br><br>
		Teléfonos:   (0221) 15-3143761 / (221) 521-8363<br><br>
		E-mail:   instituto210@gmail.com<br><br>
		Facebook:   Instituto Superior de Formación Docente y Técnica N 210<br><br>
	</p>
  </div>
</div>
<p>

</p>